<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enable-ad</key>
	<true/>
	<key>iphone-3.5-with-ad</key>
	<dict>
		<key>background-texture</key>
		<string>background-iphone-4</string>
		<key>buttons-Y</key>
		<integer>460</integer>
		<key>button-mute-X</key>
		<integer>79</integer>
		<key>button-rate-X</key>
		<integer>133</integer>
		<key>button-share-X</key>
		<integer>190</integer>
		<key>button-info-X</key>
		<integer>245</integer>
		<key>level-bg-Y</key>
		<integer>410</integer>
		<key>level-text-X</key>
		<integer>242</integer>
		<key>level-text-Y</key>
		<integer>390</integer>
		<key>timer-text-X</key>
		<integer>61</integer>
		<key>timer-text-Y</key>
		<integer>397</integer>
		<key>progress-timer-X</key>
		<string>61</string>
		<key>progress-timer-Y</key>
		<string>410</string>
		<key>gameboard-Y</key>
		<integer>260</integer>
		<key>gameboard-Node-width</key>
		<integer>280</integer>
		<key>gameboard-Node-height</key>
		<integer>280</integer>
		<key>gameboard-Node-X</key>
		<integer>160</integer>
		<key>gameboard-Node-Y</key>
		<string>225</string>
		<key>logo-Y</key>
		<integer>260</integer>
		<key>buttons-gameboard-Y</key>
		<integer>130</integer>
		<key>button-play-X</key>
		<integer>105</integer>
		<key>button-score-X</key>
		<integer>215</integer>
		<key>copyright-Y</key>
		<integer>60</integer>
		<key>timer-X</key>
		<integer>0</integer>
	</dict>
	<key>iphone-4.3-with-ad</key>
	<dict>
		<key>background-texture</key>
		<string>background-iphone-5</string>
		<key>buttons-Y</key>
		<integer>500</integer>
		<key>level-bg-Y</key>
		<integer>0</integer>
		<key>gameboard-Y</key>
		<integer>0</integer>
		<key>copyright-Y</key>
		<integer>0</integer>
		<key>timer-X</key>
		<integer>0</integer>
	</dict>
	<key>iphone-3.5-non-ad</key>
	<dict>
		<key>buttons-Y</key>
		<integer>0</integer>
	</dict>
	<key>iphone-4.3-non-ad</key>
	<dict>
		<key>buttons-Y</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
